{
  "Resources": {
    "R53ExampleCom": {
      "Properties": {
        "RecordSets": [
          {
            "ResourceRecords": [
              "192.168.4.1"
            ],
            "TTL": "60",
            "Name": "example.com",
            "Type": "A"
          }
        ],
        "HostedZoneName": "example.com."
      },
      "Type": "AWS::Route53::RecordSetGroup"
    }
  },
  "AWSTemplateFormatVersion": "2010-09-09"
}
